section {
  padding: 10px 0;
  border-bottom: 2px solid grey;
}
section:first-of-type {
  border-top: 2px solid grey;
}

input {
  display: block;
  margin-bottom: 10px;
  border-color: rgb(105, 47, 158);
  padding: 5px;
  border-radius: 5px;
}

input:hover {
  background-color: rgb(241, 236, 156);
}

button {
  padding: 5px;
  font-weight: 700;
  border-radius: 5px;
}
